#  Python Tuples

## . Tuple Swapper 
Swap the values of two tuples.

In [1]:
t1=(10,23,23)
t2=(1,2,3)
print("Before swapping:")
print(t1)
print(t2)
temp=t1
t1=t2
t2=temp
print("After swapping:")
print(t1)
print(t2)

Before swapping:
(10, 23, 23)
(1, 2, 3)
After swapping:
(1, 2, 3)
(10, 23, 23)

## 2. Tuple Reverser 
Reverse a tuple using slicing and verify the result.

In [2]:
t1=(10,34,23,34,56,257)
t2=t1[::-1]

print(f"Original tuple {t1}")
print(f"Reversed tuple:{t2}")

Original tuple (10, 34, 23, 34, 56, 257)
Reversed tuple:(257, 56, 34, 23, 34, 10)

## 3. Tuple to String 
Convert a tuple of characters into a single string.

In [3]:
t1=('k','h','a','l','i','d')

t2="".join(t1)

print(t2)

khalid

## 4. Element Index Finder 
Find the index of a user-input value in a tuple.

In [4]:
t1 = (10, 20, 30, 40, 50)

value = int(input("Enter a value to find its index: "))

if value in t1:
    index = t1.index(value)
    print(f"The index of {value} is: {index}")
else:
    print(f"{value} is not in the tuple.")

Enter a value to find its index:  30

The index of 30 is: 2

## 5. Immutable Test 
Try modifying a tuple element and observe the error. Explain why it happens.

In [5]:
t1=(2,3,4,5)
t1[2]=(7)

TypeError: 'tuple' object does not support item assignment