# Python Sets

## 1. Set Union and Intersection 
Input two sets and print their union and intersection.

In [16]:
set1=set(input("Enter the first set:"))
set2=set(input("Enter the second set:"))

print(f"Union of two set is : {sorted(set1.union(set2))}")
print(f"intersection of two set is : {set1.intersection(set2)}")

Enter the first set: 1234

TypeError: 'set' object is not callable

## 2. Unique Elements from List 
Convert a list to a set and show how duplicates are removed.

In [17]:
list1=[1,1,2,2,3,3,4,4,5,6]
list2=[]
list3=[]
for i in list1:
    if i not in list2:
        list2.append(i)
    else:
        list3.append(i)

print(f"uniqe number : {list2}")

print()
print(f"duplicates number  :{list3}")

uniqe number : [1, 2, 3, 4, 5, 6]

duplicates number  :[1, 2, 3, 4]

## 3. Subset and Superset Check 
Check whether one set is a subset or superset of another.

In [10]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

if set1.issubset(set2):
    print("set1 is a subset of set2")
else:
    print("set1 is NOT a subset of set2")

if set2.issuperset(set1):
    print("set2 is a superset of set1")
else:
    print("set2 is NOT a superset of set1")

set1 is a subset of set2
set2 is a superset of set1

## 4. Common Elements Finder 
Given two lists, use sets to find common elements.

In [13]:
list1=[1,2,3,4,5]
list2=[3,4,5,6]

set1=set(list1)
set2=set(list2)

common_element=set1.intersection(set2)
print(f"common element in this two set is : {common_element}")

TypeError: 'set' object is not callable

## 5. Symmetric Difference Demo 
Show the symmetric difference between two sets and explain its meaning.

In [14]:
set1={1,2,3,4,5}
set2={3,4,5,6}

symmetric_difference=set1.symmetric_difference(set2)
print(f"symmetric difference is : {symmetric_difference}")

symmetric difference is : {1, 2, 6}